<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{ "js/assets/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/assets/validation.js" | relURL }}"></script>
<script src="{{ "js/assets/packery.pkgd.min.js" | relURL }}"></script>
<script src="{{ "js/assets/velocity.min.js" | relURL }}"></script>
<script src="{{ "js/assets/typed.min.js" | relURL }}"></script>
<script src="{{ "js/assets/animsition.js" | relURL }}"></script>
<script src="{{ "js/functions.js" | relURL }}"></script>
<script src="{{ "modules/titan-slider/titan-slider.js" | relURL }}"></script>
<script src="{{ "modules/tera-lightbox/tera-lightbox.js" | relURL }}"></script>
</body>