{{ define "main" }}
<section class="content">
  <div class="container">
    <div class="row mt-xl mb-xl">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-center">
          <h1 style="color: black">
            Professional, on-time, on-budget, and on-point.
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa sed
            aliquam accusamus tenetur, minima vitae velit fuga reiciendis
            numquam consequatur praesentium debitis magni enim deserunt nemo id
            neque repellendus illo delectus quo ut quibusdam. Quaerat et
            architecto commodi perspiciatis saepe praesentium, ut illum facere
            animi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid">
  <section class="grid-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="#" class="btn btn-default filter-trigger">Filter</a>
        </div>
        <div class="col-md-12 grid masonry">
          {{ range (where .Site.Pages "Section" "works")}} {{ range first 5
          .Pages.ByPublishDate.Reverse }}
          <a href="{{ .Permalink }}" class="item {{ .Params.categories }}">
            <div class="thumb">
              <img alt="{{ .Title }}" src="{{ .Params.images | absURL }}" />
            </div>
            <div class="caption">
              <h4>{{ .Title }}</h4>
              <div class="tag">{{ range .Params.keywords }} {{ end }}</div>
            </div>
          </a>
          {{ end }} {{ end }}
        </div>
      </div>
    </div>
  </section>
  <div class="filter-container">
    <div class="container">
      <div class="inner">
        <ul class="filters">
          <li>
            <a href="#" data-filter="item" class="active filter">All</a>
          </li>
          {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          <li>
            <a
              href="#"
              data-filter="{{ .Title }}"
              class="filter"
              style="text-transform: capitalize"
              >{{ .Title }}</a
            >
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
{{ end }}
